html,
body {
    font-family: 'Bellefair',serif;
    color: #fff;
    height: 100%;
    background-color: darkolivegreen;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.icon-link {
    color: #fff;
}

.header-content {
    background-color: cornflowerblue;
    opacity: 0.7;
    padding: 20px 0px;
    border-radius: 10px;
}

.vertical-align {
    display: flex;
    align-items: center;
}
